@model FYP.ViewModels.StudentVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>
        FYPOnline Student Portal
    </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
    <script src="~/JavaScript/Student.js"></script>

    <link href="~/CSS/Student.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    </link>
    </link>
    </meta>
    </meta>
    <script src="~/JavaScript/TeacherIndex.js"></script>
    <link href="~/CSS/TeacherIndex.css" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript">
    </script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    </link>
</head>

<body>
    <div class="container backgroungcolor">
        <div class="row justify-content-md-center">
            <div class="cl">
                <img alt="Responsive image" class="img-fluid" src="~/Images/cuis_bg5.png">
                </img>
            </div>
            <div class="col text-center mt-5">
                <div class="btn-group">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" type="button">
                        Documents
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item proposallink" href="#">
                            Proposal
                        </a>
                        <a class="dropdown-item srslink" href="#">
                            SRS
                        </a>
                        <a class="dropdown-item srelink" href="#">
                            SRE
                        </a>
                        <a class="dropdown-item Codelink" href="#">
                            Code
                        </a>
                        <a class="dropdown-item Prototypelink" href="#">
                            Prototype
                        </a>
                        <a class="dropdown-item FinalReportLink" href="#">
                            Final Report
                        </a>
                    </div>
                </div>
                <button class="btn btn-outline-light ml-3" type="button">
                    View
                </button>
            </div>
        </div>
        <hr class="style1">
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container rounded formwidthfontcolor" id="Proposal">
                <form>
                    <div class="text-center">
                        <h1>Proposal</h1>
                    </div>
                    <div class="form-row">
                        <label>
                            <strong>
                                Team Members:
                            </strong>
                        </label>
                    </div>
                    <!--First member-->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                <span class="text-danger">*</span> RegNo
                            </label>
                            @Html.EditorFor(model => model.RegNo1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegNo1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                <span class="text-danger">*</span>Name
                            </label>
                            @Html.EditorFor(model => model.StudentName1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentName1, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSemester">
                                <span class="text-danger">*</span>Semester
                            </label>
                            @Html.DropDownListFor(Model => Model.Semester1, ViewBag.semesterlist as SelectList, "Semester", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                <span class="text-danger">*</span> Email
                            </label>
                            @Html.EditorFor(model => model.Email1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email1, "", new { type = "email", @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                <span class="text-danger">*</span>Contact No
                            </label>
                            @Html.EditorFor(model => model.ContactNo1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo1, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!--Second member-->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                RegNo
                            </label>
                            @Html.EditorFor(model => model.RegNo2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegNo2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                Name
                            </label>
                            @Html.EditorFor(model => model.StudentName2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentName2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSemester">
                                Semester
                            </label>
                            @Html.DropDownListFor(Model => Model.Semester2, ViewBag.semesterlist as SelectList, "Semester", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                <span class="text-danger">*</span> Email
                            </label>
                            @Html.EditorFor(model => model.Email2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email2, "", new { type = "email", @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                <span class="text-danger">*</span>Contact No
                            </label>
                            @Html.EditorFor(model => model.ContactNo2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo2, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!--Third member-->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                RegNo
                            </label>
                            @Html.EditorFor(model => model.RegNo3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegNo3, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                Name
                            </label>
                            @Html.EditorFor(model => model.StudentName3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentName3, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSemester">
                                Semester
                            </label>
                            @Html.DropDownListFor(Model => Model.Semester3, ViewBag.semesterlist as SelectList, "Semester", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                <span class="text-danger">*</span> Email
                            </label>
                            @Html.EditorFor(model => model.Email3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email3, "", new { type = "email", @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                <span class="text-danger">*</span>Contact No
                            </label>
                            @Html.EditorFor(model => model.ContactNo3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo3, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!--Forth member-->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                RegNo
                            </label>
                            @Html.EditorFor(model => model.RegNo4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RegNo4, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                Name
                            </label>
                            @Html.EditorFor(model => model.StudentName4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StudentName4, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputSemester">s
                                Semester
                            </label>
                            @Html.DropDownListFor(Model => Model.Semester4, ViewBag.semesterlist as SelectList, "Semester", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputCity">
                                <span class="text-danger">*</span> Email
                            </label>
                            @Html.EditorFor(model => model.Email4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email4, "", new { type = "email", @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputName">
                                <span class="text-danger">*</span>Contact No
                            </label>
                            @Html.EditorFor(model => model.ContactNo4, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactNo4, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <!--Project Title-->
                    <div class="form-group">
                        <label for="inputTitle">
                            <span class="text-danger">*</span>Title
                        </label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <!--SuperViser and CoSuperviser -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputSuperviser">
                                <span class="text-danger">*</span>Superviser
                            </label>
                            @Html.DropDownListFor(Model => Model.Supervisor, ViewBag.semesterlist1 as SelectList, "Supervisor", htmlAttributes: new { @class = "form-control" })

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputCoSuperviser">
                                Co Superviser
                            </label>
                            @Html.DropDownListFor(Model => Model.CoSupervisor, ViewBag.semesterlist2 as SelectList, "Co Supervisor", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <!--Summary-->
                    <div class="form-group">
                        <label for="inputSummery/Abstract ">
                            <span class="text-danger">*</span> Summery / Abstract (100 To 300 Words)
                        </label>
                        @Html.TextAreaFor(model => model.Summary, new { cols = 30, rows = 5, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
                    </div>
                    <!--Objective-->
                    <div class="form-group">
                        <label for="inputObjective">
                            <span class="text-danger">*</span> Objective (1 To 50 Words)
                        </label>
                        @Html.TextAreaFor(model => model.Objective, new { cols = 30, rows = 5, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
                    </div>
                    <!--Scope-->
                    <div class="form-group">
                        <label for="inputObjective">
                            <span class="text-danger">*</span> Scope (100 Words)
                        </label>
                        @Html.TextAreaFor(model => model.Scope, new { cols = 30, rows = 5, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Scope, "", new { @class = "text-danger" })
                    </div>
                    <!--Tools and Technologies-->
                    <div class="form-group">
                        <label for="inputObjective">
                            <span class="text-danger">*</span>Tools and Technologies
                        </label>
                        @Html.TextAreaFor(model => model.ToolsAndTechnologies, new { cols = 30, rows = 5, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ToolsAndTechnologies, "", new { @class = "text-danger" })
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            <span class="text-danger">*</span> File Type(.Doc/.ppt/.pdf)
                            </label>
                            
                            @Html.TextBox("ProposalFile", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <!--Buttons Save and Documents Latter-->
                    <div class="form-row">
                        <div class="form-group col-6">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                        <div class="form-group col-6 text-right">
                            <button class="btn btn-primary" type="Documents">
                                Save/DocumentsLatter
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        }
        <!--Srs Portion-->
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container formwidthfontcolor" id="Srs">
                <form>
                    <div class="text-center">
                        <h1>SRS</h1>
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            File Type(.Doc/.ppt/.pdf)
                        </label>
                       
                        @Html.TextBox("SrsFile", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        <!--Sre Portion-->
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container formwidthfontcolor" id="Sre">
                <form>
                    <div class="text-center">
                        <h1>SRE</h1>
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            File Type(.Doc/.ppt/.pdf)
                        </label>
                        
                        @Html.TextBox("SreFile", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        <!--Srs Portion-->
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container formwidthfontcolor" id="Code">
                <form>
                    <div class="text-center">
                        <h1>CODE</h1>
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            File Type(.Doc/.ppt/.pdf)
                        </label>
                        
                        @Html.TextBox("Code", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        <!--Srs Portion-->
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container formwidthfontcolor" id="Prototype">
                <form>
                    <div class="text-center">
                        <h1>Prototype</h1>
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            File Type(.Doc/.ppt/.pdf)
                        </label>
                       
                        @Html.TextBox("Prototype", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        <!--Final Report-->
        @using (Html.BeginForm("Student", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="container formwidthfontcolor" id="FinalReport">
                <form>
                    <div class="text-center">
                        <h1>Final Report</h1>
                    </div>
                    <!--Upload File-->
                    <div class="form-group">
                        <label for="exampleFormControlFile1">
                            File Type(.Doc/.ppt/.pdf)
                        </label>
                        @Html.TextBox("FinalReport", "", new { Type = "file", @class = "form-control" })<br />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button class="btn btn-primary" type="Submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        }
        <div class="row mt-3">
            <div class="col footerbackgroundcolor">
                <div class="text-center mt-3 footertextcolor">
                    <a href="#">
                        FYPOnline,
                    </a>
                    Principal Seat © 2018-COMSATS ®
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Proposal").show();
        $("#Srs").hide();
        $("#Sre").hide();
        $("#Code").hide();
        $("#Prototype").hide();
        $("#FinalReport").hide();
            });

            $(".proposallink").click(function () {
                $("#Proposal").show();
                $("#Srs").hide();
                $("#Sre").hide();
                $("#Code").hide();
                $("#Prototype").hide();
                $("#FinalReport").hide();
            });
    $(".srslink").click(function () {
        $("#Proposal").hide();
        $("#Srs").show();
                $("#Sre").hide();
                $("#Code").hide();
                $("#Prototype").hide();
                $("#FinalReport").hide();
    });
    $(".srelink").click(function () {
        $("#Proposal").hide();
        $("#Srs").hide();
        $("#Sre").show();
        $("#Code").hide();
        $("#Prototype").hide();
        $("#FinalReport").hide();
    });
    $(".Codelink").click(function () {
        $("#Proposal").hide();
        $("#Srs").hide();
        $("#Sre").hide();
        $("#Code").show();
        $("#Prototype").hide();
        $("#FinalReport").hide();
    });
    $(".Prototypelink").click(function () {
        $("#Proposal").hide();
        $("#Srs").hide();
        $("#Sre").hide();
        $("#Code").hide();
        $("#Prototype").show();
        $("#FinalReport").hide();
    });
            $(".FinalReportLink").click(function () {
                $("#Proposal").hide();
                $("#Srs").hide();
                $("#Sre").hide();
                $("#Code").hide();
                $("#Prototype").hide();
                $("#FinalReport").show();
            });
</script>